body {
  background-color: rgb(70, 139, 70);

}

p {
  font-family: Calibri,Arial;
  font-size: 25px;
  color: azure;
}
.logo {
  opacity: 0.25;
  
}
.ogrod_box {
text-align: center;
}

.ogrod_budowa {

}

.ogrod_info {

}